{% extends "layouts/layout.html" %}

{% block title %} 
    {{title}} 
{% endblock %}

{% block content %}
    <h1>{{subtitle}}</h1>
    <hr>

    <div class="frame">
        <form action="" method="post">
            {% csrf_token %}
  
            {{form.as_p}}

            <input type="submit" value="Buscar"/>
        </form>
        <button id="material-matchcode" type="button" class="btn btn-primary" material-matchcode value="{% url 'material_matchcode' %}">M</button>
        <button id="article-group-matchcode" type="button" class="btn btn-primary" article-grp-matchcode value="{% url 'article_grp_matchcode' %}">M</button>
    </div>

    {% include "stock/stock-table.html" %}

    {% include "stock/matchcode.html" %}

{% endblock %}


