{% load static %}
<!-- Selector de temas -->
<script src="{% static 'js/theme-selector.js' %}"></script>

<!-- JQuery & bootstrap -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>     
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
<script src="{% static 'js/bootstrap5.modal.forms.js' %}"></script> 
{% comment %} <script src="{% static 'js/bootstrap5.modal.forms.min.js' %}"></script>  {% endcomment %}

<!-- Datatables -->
<script src="{% static 'js/datatables.min.js' %}"></script>

<!-- Exportar PDF -->
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script> 

<!-- Scripts personales -->
<script type="module" src="{% static 'js/my-custom.js' %}"></script>        
